/* 存在不合规项：整行红色高亮 */
.security-row-warning td {
  background: #ffbcb9 !important;
}

.security-ops-table .ant-table {
  font-size: 12px;
}  /* 调整表格字体大小 */


.security-ops-table .ant-table-thead > tr > th , /* 表格头部单元格内边距调整 */
.security-ops-table .ant-table-tbody > tr > td  /* 表格体单元格内边距调整 */ 
{
 padding: 6px 8px; /* 调整表格内边距，使表格更紧凑 */
  white-space: nowrap; /* 防止内容换行 */
}

/* 表头更紧凑 */
.security-ops-table .ant-table-thead > tr > th {
  font-weight: 600;
}


/* 表格里状态图标居中更整齐 */
.security-status-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
